---
import BlogPosts from "../components/BlogPosts.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("./posts/*.md");

const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
<ul>
	{allPosts.map((post) => <BlogPosts url={post.url} title={post.frontmatter.title} />)}
</ul>
</BaseLayout>