---
import Social from "./Social.astro"
---

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>

<footer>
    <p>Follow me on social media</p>
    <Social platform="instagram" username="@yasin_alhadi" />
    <Social platform="twitter" username="@yasin_elhadi" />
    <Social platform="Facebook" username="@yasin_alhadi" />
    <Social platform="YouTube" username="@yasin_alhadi" />
</footer>